<div class="container">
  <form>
    <div class="justify-content-center input-group input-group-lg">
      <div class="col-md-7">
        <input
          type="url"
          class="form-control"
          placeholder="Enter Target URL "
          required
        />
      </div>
      <div class="col-md-1">
        <button
          class="btn btn-outline-success"
          type="submit"
          (submit)="loadResult($event)"
        >
          Search
        </button>
      </div>
    </div>
  </form>
</div>
